@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display:ital,wght@1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll behavior */
body, html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

/* customize scroll bar */
html::-webkit-scrollbar {
    width: 8px; 
 }

html::-webkit-scrollbar-track {
  background-color: black;
}

html::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}

/* nav on scroll */
header.scrollon {
  @apply py-2 shadow-sm shadow-neutral-700 fixed bg-DarkBg;
}

main.scrollon {
  @apply mt-20;
}